<!--The content below is only a placeholder and can be replaced.-->

<div class="card">
  <div class="lessons-list container">
      <table  class="table table-striped; width:2000">
          <thead class="thead-dark">
            <th>Imagen</th>
            <th>Fecha</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Descripcion</th>
          </thead>
          <tbody *ngFor=" let galery of galeries">
              <img width="200" height="200" src={{galery.imagen}}/>
                <td>{{galery.fechaCompleta}}</td>
                <td>{{galery.latitud}}</td>
                <td>{{galery.longitud}}</td>
                <td>{{galery.descripcion}}</td>

                
          </tbody>
        </table>
  </div>
</div>